@font-face {
    font-family: 'Montserrat' ;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    max-width: 1440px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav_content {
    display: inline-flex;
    gap: 20px;
}

.hero_screen {
    padding-top: 200px;
}

.hero_screen_content {
    display: flex;
    gap: 100px;
    align-items: center;
}

.left_side_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features_title {
    text-align: center;
    padding-top: 50px;
}

.features_list {
    padding-top: 50px;
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
}

.features_icon, .list_headertext {
    margin-bottom: 20px;
}

.feature_button {
    margin: 0 auto;
    display: block;
}

.benefits_wrapper {
    padding-top: 90px;
}

.benefits_screen {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

.text_side_benefits {
    max-width: 510px;
    width: 100%;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 90px;
}

.footer_subtitle, .phone_number {
    margin-bottom: 30px;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_number {
    display: flex;
    flex-direction: column;
}
